{% extends "base.html" %}

{% block content %}
    <div class="col-sm-6">
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.post.label }}
            {% if form.post.errors %}
                {{ form.post(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.post.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.post(class="form-control ci") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-default cb mt-5")}}
        </div>
    </form>

    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    {% include '_pagination.html' %}
    </div>
{% endblock %}
